.table { background: #ffffff; margin-bottom: 0; border-collapse: collapse; border-radius: 3px; min-width: 55em; }
.table th, .table td { text-align: center; }
.progress { margin-bottom: 0; }
.progress-bar { color: #000; }
#cpu, #ram, #hdd { min-width: 35px; }
#online6, #status6			{ display:none; visibility:hidden; }
#host , tr td:nth-child(5)			{ display:none; visibility:hidden; }
#online4, #status4 {max-width: 1.5em }
#name { max-width: 8em; text-align: left; }
#type { max-width: 4em; text-align: right; }
#location { max-width: 3em; padding-left: 0.5em; text-align: left; }
#uptime { max-width: 3em; text-align: right; }
#load { max-width: 2em }
#network { max-width: 3.5em }
thead #name, thead #type, thead #uptime, thead #location { text-align: center; }
.expandRow > td { padding: 0 !important; border-top: 0px !important; }
