---
layout: default
title: "Server Statistics - DDraceNetwork"
servers:
 - ddnet.tw: DDNet.tw
 - master.ddnet.tw: DDNet Master
 - db.ddnet.tw: DDNet Database
 - ger1.ddnet.tw: DDNet GER1
 - ger2.ddnet.tw: DDNet GER2
 - ger3.ddnet.tw: DDNet GER3
 - pol.ddnet.tw: DDNet POL
 - rus4.ddnet.tw: DDNet RUS
 - tur.ddnet.tw: DDNet Turkey
 - irn.ddnet.tw: DDNet Persian
 - chl.ddnet.tw: DDNet Chile
 - bra1.ddnet.tw: DDNet Brazil1
 - bra2.ddnet.tw: DDNet Brazil2
 - arg.ddnet.tw: DDNet Argentina
 - usa.ddnet.tw: DDNet USA
 - can.ddnet.tw: DDNet CAN
 - chn1.ddnet.tw: DDNet CHN1
 - chn2.ddnet.tw: DDNet CHN2
 - chn3.ddnet.tw: DDNet CHN3
 - chn4.ddnet.tw: DDNet CHN4
 - chn5.ddnet.tw: DDNet CHN5
 - chn6.ddnet.tw: DDNet CHN6
 - chn7.ddnet.tw: DDNet CHN7
 - jap.ddnet.tw: DDNet Japan
 - kor2.ddnet.tw: DDNet Korea
 - sgp.ddnet.tw: DDNet Singapore
 - zaf.ddnet.tw: DDNet South Africa
menu: |
  <ul>
    {% for server_hash in page.servers %} {% for server in server_hash %}
      <li><a href="#{{ server[0] }}">{{ server[1] }}</a></li>
    {% endfor %} {% endfor %}
  </ul>
---
{% for server_hash in page.servers %} {% for server in server_hash %}
  <div class="block">
    <h2 id="{{ server[0] }}">{{ server[1] }}</h2>
    <h3>Network</h3>
    <img class="demo" src="{{ server[0] }}-net-1d.png" /><img class="demo" src="{{ server[0] }}-net-7d.png" /><br/>
    <img class="demo" src="{{ server[0] }}-net-49d.png" />

    <h3>Packets</h3>
    <img class="demo" src="{{ server[0] }}-packets-1d.png" /><img class="demo" src="{{ server[0] }}-packets-7d.png" /><br/>
    <img class="demo" src="{{ server[0] }}-packets-49d.png" />

    <h3>CPU</h3>
    <img class="demo" src="{{ server[0] }}-cpu-1d.png" /><img class="demo" src="{{ server[0] }}-cpu-7d.png" /><br/>
    <img class="demo" src="{{ server[0] }}-cpu-49d.png" />

    <h3>Memory</h3>
    <img class="demo" src="{{ server[0] }}-mem-1d.png" /><img class="demo" src="{{ server[0] }}-mem-7d.png" /><br/>
    <img class="demo" src="{{ server[0] }}-mem-49d.png" />
  </div>
{% endfor %} {% endfor %}
