#mozilla-image-toolbar-div,

html {
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(top, rgba(240, 242, 244, 0.2) 0%, rgba(240, 242, 244, 0.01) 25%, rgba(18, 20, 22, 0.2) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 242, 244, 0.2)), color-stop(25%, rgba(240, 242, 244, 0.01)), color-stop(100%, rgba(18, 20, 22, 0.2)));
	background-image: -webkit-linear-gradient(top, rgba(240, 242, 244, 0.2) 0%, rgba(240, 242, 244, 0.01) 25%, rgba(18, 20, 22, 0.2) 100%);
	background-image: -o-linear-gradient(top, rgba(240, 242, 244, 0.2) 0%, rgba(240, 242, 244, 0.01) 25%, rgba(18, 20, 22, 0.2) 100%);
	background-image: -ms-linear-gradient(top, rgba(240, 242, 244, 0.2) 0%, rgba(240, 242, 244, 0.01) 25%, rgba(18, 20, 22, 0.2) 100%);
	background-image: linear-gradient(to bottom, rgba(240, 242, 244, 0.2) 0%, rgba(240, 242, 244, 0.01) 25%, rgba(18, 20, 22, 0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33f0f2f4', endColorstr='#33121416', GradientType=0 );
}

#menu button {
	padding:5px 10px 5px 10px;
	margin: 5px 7px 0px 7px;
}

#copyright {
	margin: 15px 0px 0px 0px;
}

#entities_container
{
	border: 2px solid rgba(0, 0, 0, 0.5);
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.1);
	display: inline-block !important;
}

area {
	cursor: pointer;
}

.qtip {
	pointer-events: none;
}
.qtip-content {
	padding: 3px 4px;
	text-align: center;
	-webkit-box-shadow: inset 0px 1px 0px 0px #7C7C7C;
	-moz-box-shadow: inset 0px 1px 0px 0px #7C7C7C;
	box-shadow: inset 0px 1px 0px 0px #7C7C7C;
}
.qtip-content:empty {
	padding: 0px;
	background-color: #404040;
	border-top-width:0px;
}

.property {
	width: 24px;
	height: 24px;
	padding: 2px;
}

#permalink {
	height: 50px;
}
