---
layout: default
title: DDraceNetwork
head: |
  <link rel="alternate" type="application/atom+xml" title="DDNet News" href="/feed/" />
  <link rel="stylesheet" href="/funding/jquery-ui-1.8.22.custom.css" />
  <script src="/youtube.js?version=3" type="text/javascript"></script>
menu-extern: subnav
---
<div class="block">
<h2>DDRace Servers and much more!</h2>
<p>
DDraceNetwork (DDNet) is an actively maintained version of DDRace, a <a href="https://www.teeworlds.com/">Teeworlds</a> modification with a unique cooperative gameplay. Help each other play through <a href="/releases/">custom maps</a> with up to 64 players, compete against the best in <a href="/tournaments/">international tournaments</a>, design your <a href="/howto/">own maps</a>, or run your <a href="/settingscommands/">own server</a>. The <a href="/status/">official servers</a> are around the world. All <a href="/ranks/">ranks</a> made on official servers are available worldwide and you can <a href="/players/">collect points</a>!
</p>
{% assign featured = site.data.videos | first %}
<div class="startvideo">
  <div class="video-container">
    <div class="ytplayer" data-id="{{ featured.id }}"></div>
  </div>
  <p class="startvideo-caption"><a href="/videos/">More community videos</a></p>
</div>
{% comment %}
<style>
    .twitch-embed{
        position: relative;
        width: 100%;
        padding-bottom: 42.1875%;
    }
</style>
<div id="twitch-embed"></div>
<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
  new Twitch.Embed("twitch-embed", {
    width: 1000,
    height: 480,
    channel: "LCSG47",
  });
</script>
{% endcomment %}
<br/>
<div class="download"><img class="download-button" src="download.svg" alt="Download"/>
<p class="download"><span class="big"><a id="download-link" href="/downloads/">Download DDraceNetwork Client &amp; Server 19.9</a></span><br/><a href="/downloads/">Other systems and versions, changelogs</a></p>
<script type="text/javascript">
(function() {
  var version = '19.9';
  var builds = [
    [/android/i, 'DDNet-' + version + '.apk', 'Android'],
    [/windows.*arm/i, 'DDNet-' + version + '-win-arm64.zip', 'Windows (ARM)'],
    [/wow64|win64/i, 'DDNet-' + version + '-win64.zip', 'Windows (64bit)'],
    [/windows/i, 'DDNet-' + version + '-win32.zip', 'Windows (32bit)'],
    [/linux.*x86_64/i, 'DDNet-' + version + '-linux_x86_64.tar.xz', 'Linux x86_64'],
    [/linux.*i686/i, 'DDNet-' + version + '-linux_x86.tar.xz', 'Linux x86'],
    [/macintosh|mac os/i, 'DDNet-' + version + '-macos.dmg', 'macOS']
  ];

  for (var i = 0; i < builds.length; i++) {
    if (builds[i][0].test(navigator.userAgent)) {
      var link = document.getElementById('download-link');
      link.href = '/downloads/' + builds[i][1];
      link.textContent = 'Download DDraceNetwork Client & Server ' + version + ' for ' + builds[i][2];
      break;
    }
  }
})();
</script>
<a href="https://store.steampowered.com/app/412220/DDraceNetwork/"><img width="36" class="image-icon" src="steam.svg" alt="Steam"/></a>
<a href="discord"><img width="36" class="image-icon" src="discord.svg" alt="Discord"/></a>
<a href="feed/"><img width="36" class="image-icon" src="feed.svg" alt="Feed"/></a>
<a href="https://github.com/ddnet/"><img width="36" class="image-icon" src="github.svg" alt="GitHub"/></a>
<div class="right" style="width: 100%; max-width: 25em;">
  <a href="/funding/"><div class="progressbar" id="funding-total" style="width:100%; margin-top:0.25em"><div class="progress-label"></div></div></a>
  {% include funding.html %}
</div>
</div>
<br/>
</div>
<div class="block">
<h2 id="news">News</h2>
</div>
{% for post in site.tags.current limit:10 %}
<div class="block">
  <div class="news">
    <h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <div style="font-size: 75%;">{{ post.date | date: "%Y-%m-%d" }}</div>
    <div class="news-content">
      {{ post.content }}
    </div>
  </div>
</div>
{% endfor %}
