<script type="text/javascript">
//IE8 polyfill
var isArray = Array.isArray || function(arr) {
  return Object.prototype.toString.call(arr) == '[object Array]';
};
var data = {
  "ddnet":  421 + 60 + 59 + 27, // includes vpn
  "master": [47, 47, "Gummibaer12345"], // hetzner.com
  "master2": [51, 339, "Gummibaer12345"], // dmit.io
  "db":     609,
  "ger1":   [312, 312, "Davide"], // lowhosting.com
  "ger2":   "heinrich5991", // hetzner.com
  "ger3":   260, // lowhosting.com
  "pol":    [82, 99, "orbilo"], // ovh.com
  "fin":    60, // hetzner.com
  "rus1":   [338, 352, "BratOK"], // selectel.ru
  "rus2":   [187, 608, "BratOK, Voix & Ayanksht"], // myarena.ru
  "rus4":   29, // hetzner.com
  "rus6":   29, // hetzner.com
  "bhr":    61, // lightnode.com
  "irn":    "Murphy",
  "chl":    [156, 156, "Konsti"], // grupocg.cl
  "bra1":   97, // linode.com
  "bra2":   97, // linode.com
  "arg":    "Miguilim",
  "usa1":   [87, 100, "IsaacElenbaas"], // nfoservers.com
  "usa2":   [50, 50, "YupHio"], // hetzner.com
  "usa3":   [34, 50, "YupHio"], // nfoservers.com
  "usa4":   [45, 45, "gorp"], // hetzner.com
  "chn":    [120, 240, "TsFreddie"], // layerstack.com
  "chn0":   "星辰.",
  "chn1":   "紫川",
  "chn2":   "Pioooooo",
  "chn3":   "丁薇",
  "chn4":   "Bamcane",
  "chn5":   "吧唧",
  "chn6":   "SuY1Ran",
  "chn7":   "mixun",
  "chn8":   "满月",
  "chn9":   "Zerol Acqua",
  "chn10":  "Coke",
  "chn11":   "星辰.",
  "twn":    207, // lightnode.com
  "kor":    140, // vultr.com
  "sgp":    [65, 70, "wik"], // linode.com
  "ind":    70, // linode.com
  "aus":    43, // ovh.com
  "zaf":    [58, 66, "Bloodslain, <BµmM>"], // ivecloud.co.za
};
var infraNum = 4; // ddnet ... db
var donated = 1508;
var yearStr = "2025";
var costOld = 1540 + /*2018:*/ 917 + /*2019:*/ 1327 + /*2020:*/ 1118 + /*2021:*/ 2612 + /*2022:*/ 3253 + /*2023:*/ 3308 + /*2024 WIP*/ 4973;
var donatedOld = 18187;
var yearStrOld = "2013-24";

var num = 0
var sumCost = 0;
var sumDirect = 0;
var cost = {};
var paid = {};
var regionNets = {};
for (var server in data) {
  if (data.hasOwnProperty(server)) {
    num += 1;
    var val = data[server];
    if (val.toFixed) {
      sumCost += val;
      cost[server] = val;
      paid[server] = 0;
    } else if (isArray(val)) {
      sumCost += val[1];
      sumDirect += val[0];
      cost[server] = val[1];
      paid[server] = val[0];
    }
    else {
      cost[server] = 0;
      paid[server] = 0;
      continue;
    }
    if (num > infraNum) {
      var region = server.replace(/\d+$/, "");
      regionNets[region] = (regionNets[region] || 0) + (cost[server] - paid[server]);
    }
  }
}
var totalPaid = donated + sumDirect;


var distribute = donated;
var infraCost = 0;
var infraPaid = 0;
var i = 0;
for (var server in data) {
  if (data.hasOwnProperty(server)) {
    i++;
    if (i > infraNum) break;
    infraCost += cost[server];
    if (cost[server] - paid[server] < distribute) {
      distribute -= cost[server] - paid[server];
      paid[server] = cost[server];
    }
    else {
      paid[server] += distribute;
      distribute = 0;
    }
    infraPaid += paid[server];
  }
}
var regionsCost = sumCost - infraCost;
var regionsPaid = totalPaid - infraPaid;


for (var region in regionNets) {
  if (regionNets[region] == 0) delete regionNets[region];
}
orderedRegionNets = Object.keys(regionNets).sort(function(left, right) {
  return regionNets[right] - regionNets[left];
});
console.log("Unmet cost percentages:");
for (var region of orderedRegionNets) {
  console.log(region.toUpperCase() + ": " + Math.round(100 * (regionNets[region] / (regionsCost - regionsPaid))) + "%");
}


if (totalPaid > sumCost) {
  donatedOld += totalPaid - sumCost;
  totalPaid = sumCost;
}
function metaValue(id) {
  switch(id) {
    case "funding-total":
      return 100 *   totalPaid /     sumCost;
    case "funding-infra":
      return 100 *   infraPaid /   infraCost;
    case "funding-regions":
      return 100 * regionsPaid / regionsCost;
    default:
      return 0;
  }
}
function metaText(id) {
  switch(id) {
    case "funding-total":
      return totalPaid.toFixed() + " € donated / " + sumCost + " € cost " + yearStr;
    case "funding-infra":
      return   infraPaid.toFixed() + " / " +   infraCost + " €";
    case "funding-regions":
      return regionsPaid.toFixed() + " / " + regionsCost + " €";
    default:
      return "FIXME";
  }
}
var elements = [];
elements = document.querySelectorAll("#funding-total, #funding-infra, #funding-regions");
elements.forEach(function(element, index, array) {
  var value = metaValue(element.id);
  var color = '#F6A828';
  if (value >= 100) {
    color = '#37d628';
  }
  var text = metaText(element.id);
  element.className += " ui-progressbar ui-widget ui-widget-content ui-corner-all";
  element.insertAdjacentHTML("beforeend", '<div class="ui-progressbar-value ui-widget-header ui-corner-left' + (value==100 ? " ui-corner-right" : "") + '" style="width: ' + (value).toFixed(0) + '%; background: ' + color + ';"></div>');

  elements = element.querySelectorAll(".progress-label");
  elements.forEach(function(element, index, array) {
    if (element.textContent !== undefined)
      element.textContent = text;
    else
      element.innerText = text;
  });

  elements = element.querySelectorAll(".ui-widget-header");
  elements.forEach(function(element, index, array) {
    element.style.backgroundColor = color;
  });
});

var i = 0;
for (var server in data) {
  if (data.hasOwnProperty(server)) {
    i++;
    var val = data[server];
    var value = 0;
    var text = '';
    if (val.toFixed) {
      text = paid[server].toFixed() + " / " + cost[server].toFixed() + " €";
    } else if (isArray(val)) {
      text = paid[server].toFixed() + " / " + cost[server].toFixed() + " €";
      if (val.length > 2) {
        text += " (sponsored by " + val[2] + ")";
      }
    } else {
      text = "sponsored by " + val;
    }
    var color = '#F6A828';
    if (paid[server] >= cost[server]) {
      color = '#37d628';
    }
    else if (i > infraNum) {
      text += ", " + Math.round(100 * ((cost[server] - paid[server]) / (regionsCost - regionsPaid))) + "% of unmet costs";
    }
    var value = (cost[server] > 0) ? 100 * (paid[server] / cost[server]) : 100;
    elements = document.querySelectorAll("#funding-" + server);
    elements.forEach(function(element, index, array) {
      element.className += " ui-progressbar ui-widget ui-widget-content ui-corner-all";
      element.insertAdjacentHTML("beforeend", '<div class="ui-progressbar-value ui-widget-header ui-corner-left' + (value==100 ? " ui-corner-right" : "") + '" style="width: ' + (value).toFixed(0) + '%; background: ' + color + ';"></div>');
    });
    elements = document.querySelectorAll("#funding-" + server + " .progress-label");
    elements.forEach(function(element, index, array) {
      if (element.textContent !== undefined)
        element.textContent = text;
      else
        element.innerText = text;
    });
  }
}

var value = 100 * donatedOld / costOld;
color = '#F6A828';
if (donatedOld >= costOld) {
  color = '#37d628';
}
elements = document.querySelectorAll("#funding-old");
elements.forEach(function(element, index, array) {
  element.className += " ui-progressbar ui-widget ui-widget-content ui-corner-all";
  element.insertAdjacentHTML("beforeend", '<div class="ui-progressbar-value ui-widget-header ui-corner-left' + (value==100 ? " ui-corner-right" : "") + '" style="width: ' + (value).toFixed(0) + '%; background: ' + color + ';"></div>');
});
elements = document.querySelectorAll("#funding-old .progress-label");
elements.forEach(function(element, index, array) {
  if (element.textContent !== undefined)
    element.textContent = donatedOld.toFixed() + " € / " + costOld + " € cost " + yearStrOld;
  else
    element.innerText = donatedOld.toFixed() + " € / " + costOld + " € cost " + yearStrOld;
});
</script>
