<script type="text/javascript">
$(function() {
  var costs = {
    "ddnet": [7, 86],
    "ger":  [200, 200, "Shishigami"],
    "rus":  [50, 50, "Frr :3"],
    "chl":  96,
    "bra":  "RafaelFF",
    "zaf":  50,
    "usa":  78,
    "can":  "o_tee_one",
    "chn":  "Tom",
    "aus":  64,
  };
  var donated = 197;
  var old = 2015;
  var sum = 0;
  var sumToPay = 0;
  var sumPartSponsored = 0;
  var num = 0
  for (var server in costs) {
    if (costs.hasOwnProperty(server)) {
      var val = costs[server];
      if (val.toFixed) {
        sum += val;
        sumToPay += val;
        num += 1;
      } else if ($.isArray(val)) {
        sum += val[1];
        sumToPay += val[1] - val[0];
        sumPartSponsored += val[0];
        num += 1;
      }
    }
  }

  var donatedRest = 0;
  var paid = {};
  for (var server in costs) {
    if (costs.hasOwnProperty(server)) {
      var val = costs[server];
      paid[server] = 0;
      if (donatedRest > 0) {
        paid[server] += donatedRest;
      }
      if (val.toFixed) {
        paid[server] += val * donated / sumToPay;
        if (paid[server] > val) {
          donatedRest += paid[server] - val;
          paid[server] = val;
        }
      } else if ($.isArray(val)) {
        paid[server] += (val[1] - val[0]) * donated / sumToPay + val[0];
        if (paid[server] > val[1]) {
          donatedRest += paid[server] - val[1];
          paid[server] = val[1];
        }
      } else {
      }
    }
  }

  var total = donated + sumPartSponsored;
  var rest = 1540;
  if (total > sum) {
    rest += total - sum;
    total = sum;
  }

  $("#funding-total").progressbar({value: 100 * total / sum});
  $("#funding-total .progress-label").text(total.toFixed() + " € donated / " + sum + " € cost 2017");
  var color = '#F6A828';
  if (total >= sum) {
    color = '#37d628';
  }
  $("#funding-total .ui-widget-header").css('background', color);

  for (var server in costs) {
    if (costs.hasOwnProperty(server)) {
      var val = costs[server];
      var value = 0;
      var text = '';
      var color = '#F6A828';
      if (val.toFixed) {
        value = 100 * paid[server] / val;
        text = (paid[server]).toFixed() + " / " + val + " €";
        if (paid[server] >= val) {
          color = '#37d628';
        }
      } else if ($.isArray(val)) {
        value = 100 * paid[server] / val[1];
        text = (paid[server]).toFixed() + " / " + val[1] + " €";
        if (paid[server] >= val[1]) {
          color = '#37d628';
        }
        if (val.length > 2) {
          text += " (sponsored by " + val[2] + ")";
        }
      } else {
        value = 100;
        text = "sponsored by " + val;
        color = '#37d628';
      }
      $("#funding-" + server).progressbar({value: value});
      $("#funding-" + server + " .progress-label").text(text);
      $("#funding-" + server + " .ui-widget-header").css('background', color);
    }
  }

  $("#funding-old").progressbar({value: 100 * rest / old});
  $("#funding-old .progress-label").text(rest.toFixed() + " € / " + old + " € cost 2013-16");
  color = '#F6A828';
  if (rest >= old) {
    color = '#37d628';
  }
  $("#funding-old .ui-widget-header").css('background', color);

});
</script>
