<ul>
  <li><a href="https://facebook.com/DDraceNetwork">Facebook page for DDraceNetwork</a>, maintained by onionly .me'</li>
  <li>DDNet Chile running on a new server with new IP now</li>
  <li>DDNet RUS running on a new server with new IP now</li>
  <li><strong>DDNet 8.1.1</strong>:<br/>
  <ul>
    <li>[Client] Add country flags for Europe and Catalonia</li>
    <li>[Client] Bind chat on enter/return by default as well</li>
    <li>[Client] Dyncam bind saves special mousesens (by Shiki)</li>
    <li>[Client] Sort spectators by name in scoreboard</li>
    <li>[Client] Add friends and foes commands to list them in console</li>
    <li>[Client] Make clan optional when adding and removing friends and foes</li>
    <li>[Client] Fix: Only print MOTD to console when it's not empty</li>
    <li>[Server] Show average time in /mapinfo</li>
    <li>[Mapping] Add basic_freeze automappers (by hi_leute_gll and DoNe)</li>
    <li>[Mapping] Add generic_clear automappers (by hi_leute_gll)</li>
    <li>[Mapping] Fix desert_mountains_new_foreground (by hi_leute_gll)</li>
  </ul></li>
  <li>If you're running Windows 10 and are experiencing lags in DDNet, you should disable <a href="http://www.alexandreviot.net/2015/07/29/windows-10-disable-windows-update-p2p/">Windows Update P2P</a></li>
  <li><strong>DDNet 8.0.2</strong>:<br/>
  <ul>
    <li>[Client] Fix saving of config file on Windows</li>
    <li>[Client] Fix and improve spectator mode in demo viewer</li>
    <li>[Client] Print MOTD to the console</li>
    <li>[Mapping] Add basic_freeze automapper rules (by DoNe)</li>
  </ul></li>
  <li><strong>DDNet 8.0</strong>:<br/>
  <ul>
    <li>[Client] Allow spectating other players and freeview in demo player (especially fun with /showall and /showothers on)</li>
    <li>[Client] Add foes feature to permanantly ignore players (F1, add_foe only)</li>
    <li>[Client] Use temporary file for saving config to prevent broken configs</li>
    <li>[Client] Fix: Make add_demomarker working in all recorders (by east)</li>
    <li>[Client] Fix highlighting in demo playback (by east)</li>
    <li>[Client] Fix: TAB in console doesn't influence server browser</li>
    <li>[Client] Fix scroll bar in server control votes when search bar is used</li>
    <li>[Server] Add switch_open to set the initial state of a switch to open</li>
    <li>[Server] Fix support for 0 stars in database</li>
    <li>[Server] Fix /mapinfo with mixed case server names (DDmaX)</li>
    <li>[Editor] Fix envelope button color (by DoNe)</li>
    <li>[Editor] Save twice as fast (hopefully doesn't break anything)</li>
    <li>[Editor] Add "Save copy" button so that filename is not changed</li>
    <li>[Editor] Add ctrl+shift+s for "save as" and ctrl+shift+alt+s for "save copy"</li>
    <li>[Editor] Zoom faster by holding down numpad +/- (by Chairn)</li>
  </ul></li>
  <li><a href="http://forum.ddnet.tw/viewtopic.php?f=3&p=19036">The History of DDNet</a></li>
  <li><strong>DDNet 7.9.1</strong>:<br/>
  <ul>
    <li>[Client] Show all recorders at top of scoreboard</li>
    <li>[Client] Sort players in server browser by name too</li>
    <li>[Client] Fix statboard for some resolutions</li>
    <li>[Client] Fix saving of favorite IPv6 servers (by east)</li>
    <li>[Client] Fix demo cutter to add .demo file ending</li>
    <li>[Client] Improved German translations (by DoNe)</li>
    <li>[Mapping] Add many nice mapres to the client (thanks to Soreu)</li>
    <li>[Mapping] Improved grass_main/0.7 automappers (by hi_leute_gll)</li>
    <li>[Mapping] Rename mapres to have consistent names</li>
    <li>[Editor] Scroll speedup angles by 45° (finer with shift)</li>
    <li>[Editor] Fix: Show degrees sign in values selector</li>
    <li>[Server] Veto right for players with high time (20 minutes) to stop map change votes</li>
    <li>[Server] Only allow /save when team is started already to prevent saving after noobfilter</li>
    <li>[Server] Make /map and /mapinfo work for maps with really similar names</li>
    <li>[Server] Show nice messages to known bot clients</li>
    <li>[Server] Fix /map and /mapinfo with special unicode characters</li>
    <li>[Server] Fix: Only disallow team changing/killing when calling kick/spec votes</li>
    <li>[Server] Fix: Vote callers never count as afk</li>
    <li>[Compilation] Use system libraries by default when available (should enable building DDNet on any platform and OS)</li>
  </ul></li>
  <li>DDNet Persian is returning thanks to <a href="/players/KinG/">KinG</a> and <a href="http://www.teecity.ir/">Persian Tee City Staff</a>!</li>
  <li>DDNet South Africa on new host!</br>
After we had lots of connection problems on our last host, we now have a new server in South Africa, thanks to lordtheuns!</li>
  <li><a href="/funding/">DDNet Funding</a></li>
</ul>
