table.spacey  {
	border-collapse: collapse;
}
.spacey .tablesorter-header {
	background-color: #F3C2C2;
	background-image: url(black-unsorted.gif);
	background-repeat: no-repeat;
	background-position: center right;
	padding: 3px;
	cursor: pointer;
}
.spacey .tablesorter-headerAsc {
	background-image: url(black-asc.gif);
	background-color: #EB9999;
}
.spacey .tablesorter-headerDesc {
	background-image: url(black-desc.gif);
	background-color: #EB9999;
}





.unfinTable1 {
  border-collapse: collapse;
  display: inline-table;
  margin: 0;
  font-size: 88%;
  box-sizing: border-box;
  width: 33.3333%;
  min-width: 20em;
  table-layout: fixed;
}
.unfinTable1 .tablesorter-header {
	background-color: #F3C2C2;
	background-image: url(black-unsorted.gif);
	background-repeat: no-repeat;
	background-position: center right;
	padding: 3px;
	cursor: pointer;
}
.unfinTable1 .tablesorter-headerAsc {
	background-image: url(black-asc.gif);
	background-color: #EB9999;
}
.unfinTable1 .tablesorter-headerDesc {
	background-image: url(black-desc.gif);
	background-color: #EB9999;
}
.unfinTable1 td {
  padding: 0 1em;
}
.unfinTable1 th {
  text-align: center;
}
.unfinTable1 tr .unMapTr{width:60%;}
.unfinTable1 tr .unPtsTr{width:15%;}
.unfinTable1 tr .unFinTr{width:25%;}

.unfinTable1 th h2 {
  text-align: center;
}



.unfinTable2 {
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  border-collapse: collapse;
  display: inline-table;
  margin: 0;
  font-size: 88%;
  box-sizing: border-box;
  width: 33.3333%;
  min-width: 20em;
  table-layout: fixed;
}
.unfinTable2 td {
  padding: 0 1em;
}
.unfinTable2 th {
  text-align: center;
}
.unfinTable2 thead {
  display: none;
  background-color: #F9E2E2;
}
.unfinTable2 thead th {
  padding: 3px;
}
.unfinTable2 tr .unMapTr{width:60%;}
.unfinTable2 tr .unPtsTr{width:15%;}
.unfinTable2 tr .unFinTr{width:25%;}

.unfinTable2 th h2 {
  text-align: center;
}


.unfinTable3 {
  border-collapse: collapse;
  display: inline-table;
  margin: 0;
  font-size: 88%;
  box-sizing: border-box;
  width: 33.3333%;
  min-width: 20em;
  table-layout: fixed;
  border-left: 1px solid rgba(0, 0, 0, 0.75);
}
.unfinTable3 td {
  padding: 0 1em;
}
.unfinTable3 th {
  text-align: center;
}
.unfinTable3 thead {
  display: none;
  background-color: #F9E2E2;
}
.unfinTable3 thead th {
  padding: 3px;
}
.unfinTable3 tr .unMapTr{width:60%;}
.unfinTable3 tr .unPtsTr{width:15%;}
.unfinTable3 tr .unFinTr{width:25%;}

.unfinTable3 th h2 {
  text-align: center;
}

.tablesorter tr:nth-child(even),
.unfinTable1 tr:nth-child(even),
.unfinTable2 tr:nth-child(even),
.unfinTable3 tr:nth-child(even) {
  background-color: rgba(136, 34, 34, 0.1);
}

.spacey th:not(:last-child),
.tablesorter-default th:not(:last-child),
.unfinTable1 th:not(:last-child),
.unfinTable2 th:not(:last-child),
.unfinTable3 th:not(:last-child),
.tablesorter-default td:not(:last-child),
.unfinTable1 td:not(:last-child),
.unfinTable2 td:not(:last-child),
.unfinTable3 td:not(:last-child) {
  border-right: 1px solid rgba(136, 34, 34, 0.3);
}