/* ========================= General ========================= */
:root {
  --link: #ffa500;
  --hover: #e19201;
  --bg: #2d2d2d;
  --fg: #dfdede;
  --bg-block: #555555;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
}

.js-calendar-graph-svg {
  fill: var(--fg);
}

a,
a:link,
a:visited {
  color: var(--link);
}
a:hover {
  color: var(--hover);
}

.image-icon {
  filter: invert(1);
}

.image-icon:hover {
  /* thanks to this tool to compute the color: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(82%) sepia(47%) saturate(6319%) hue-rotate(1deg)
    brightness(106%) contrast(104%);
}

.contentleft {
  background: transparent
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
    repeat scroll 0% 0%;
  box-shadow: -4px 0px 3px rgba(0, 0, 0, 0.05) inset;
  border-right: 2px solid var(--link);
  z-index: 1;
}
@media (max-width: 1099px) {
  .fade {
    background: linear-gradient(to left, var(--bg), rgba(45, 45, 45, 0) 5em);
  }
  .contentleft {
    background: transparent;
    box-shadow: none;
    border: none;
    z-index: -1;
  }
}

section .block,
section .longblock {
  background: #555555;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

/* ========================= Home ========================= */
.news h3 a:link,
.news h3 a:visited {
  color: var(--link);
}

.news h3 a:hover {
  color: var(--hover);
}

.news blockquote {
  background-color: #4d4d4d;
}

.ui-widget-content {
  border: none !important;
  margin: 2px;
  background: rgba(255, 255, 255, 0.4);
}

.settingscommands tr {
  border-bottom-color: #222222;
}

body:not(#phpbb) code {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

body:not(#phpbb) pre {
  background-color: rgba(0, 0, 0, 0.2);
}

body:not(#phpbb) pre code {
  background-color: transparent;
}

/* ========================= Status ========================= */
.table,
.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background: none;
}
.table > thead > tr > th {
  border-bottom: 2px solid #222222;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #222222;
}

/* ========================= Ranks ========================= */
.typeahead:focus {
  border-color: #f07141;
}
.tt-dropdown-menu {
  background-color: #333333cc;
}
.tt-suggestion.tt-cursor {
  background-color: #f07141;
  color: #000000;
}

.spacey .tablesorter-header,
.unfinTable1 .tablesorter-header {
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-image: url(/players-data/white-unsorted.gif) !important;
}
.spacey .tablesorter-headerAsc,
.unfinTable1 .tablesorter-headerAsc {
  background-image: url(/players-data/white-asc.gif) !important;
  background-color: rgba(0, 0, 0, 0.65) !important;
}
.spacey .tablesorter-headerDesc,
.unfinTable1 .tablesorter-headerDesc {
  background-image: url(/players-data/white-desc.gif) !important;
  background-color: rgba(0, 0, 0, 0.65) !important;
}
.unfinTable2,
.unfinTable3 {
  border-left-color: rgba(0, 0, 0, 0.75);
}
.unfinTable2 thead,
.unfinTable3 thead {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.tablesorter tr:nth-child(even),
.unfinTable1 tr:nth-child(even),
.unfinTable2 tr:nth-child(even),
.unfinTable3 tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.spacey th:not(:last-child),
.tablesorter-default th:not(:last-child),
.unfinTable1 th:not(:last-child),
.unfinTable2 th:not(:last-child),
.unfinTable3 th:not(:last-child),
.tablesorter-default td:not(:last-child),
.unfinTable1 td:not(:last-child),
.unfinTable2 td:not(:last-child),
.unfinTable3 td:not(:last-child) {
  border-right-color: rgba(0, 0, 0, 0.3) !important;
}

/* ========================= Statistics ========================= */
.highcharts-container svg rect.highcharts-background {
  fill: #555555;
}

.highcharts-title,
.highcharts-container svg g.highcharts-axis text {
  color: #c8c8c8 !important;
  fill: #c8c8c8 !important;
}

.highcharts-container svg g.highcharts-button rect {
  fill: #ffffff;
  stroke: none;
}
.highcharts-contextmenu ul {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  background: #333333 !important;
  color: #c8c8c8 !important;
}
.highcharts-contextmenu ul li {
  border: none !important;
  box-shadow: none !important;
  color: #c8c8c8 !important;
}
.highcharts-contextmenu ul li:hover {
  background-color: #f07141 !important;
  color: #000000 !important;
}
.highcharts-contextmenu ul hr {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.highcharts-container svg g.highcharts-grid path,
.highcharts-container svg g.highcharts-axis path {
  stroke: #222222;
}

.highcharts-range-selector {
  background: #555555;
  color: #cccccc;
}

.highcharts-container svg g.highcharts-axis-labels text {
  color: #cccccc !important;
  fill: #cccccc !important;
}

.highcharts-container svg g.highcharts-range-input text {
  color: #cccccc !important;
  fill: #cccccc !important;
}

.highcharts-container svg g.highcharts-range-label text {
  color: #cccccc !important;
  fill: #cccccc !important;
}

.highcharts-container svg g.highcharts-range-selector-buttons text {
  color: #cccccc !important;
  fill: #cccccc !important;
}

.highcharts-container svg g.highcharts-button text {
  color: #333333 !important;
  fill: #333333 !important;
}

.highcharts-container svg g.highcharts-legend text {
  color: #cccccc !important;
  fill: #cccccc !important;
}

/* ========================= Forum ========================= */
#phpbb .block,
#phpbb .longblock {
  padding: 0;
}

#phpbb .block h2 {
  color: #3f2e29;
}

#phpbb .block h3 {
  color: #983312;
}

#phpbb .block a {
  color: #892f11;
}
#phpbb .block a:hover {
  color: #d34212;
}

#phpbb .forumbg .header a,
#phpbb .forabg .header a,
#phpbb th a {
  color: #ffffff;
}

#phpbb .forumbg .header a:hover,
#phpbb .forabg .header a:hover,
#phpbb th a:hover {
  color: #ffbea8;
}

#phpbb .postlink {
  border-bottom-color: #d25e37;
  color: #d25e37;
}

#phpbb .postlink:visited {
  border-bottom-color: #bd765e;
  color: #bd765e;
}

#phpbb .postlink:hover {
  background-color: #f6dad1;
  color: #73270e;
}

#phpbb .arrow-left:hover,
#phpbb .arrow-right:hover {
  color: #d25e37;
}

#phpbb .wrap {
  background-color: transparent;
  border-color: transparent;
  color: #c8c8c8;
}

#phpbb .headerbar,
#phpbb .forumbg {
  background-color: #eb4913;
  background-image: -webkit-linear-gradient(
    top,
    #ff906a 0%,
    #b12d00 2px,
    #eb4913 92px,
    #eb4913 100%
  );
  background-image: linear-gradient(
    to bottom,
    #ff906a 0%,
    #b12d00 2px,
    #eb4913 92px,
    #eb4913 100%
  );
}

#phpbb .forabg {
  /* background-color: #B12D00; */
  background-image: -webkit-linear-gradient(
    top,
    #ff906a 0%,
    #eb4913 2px,
    #b12d00 92px,
    #b12d00 100%
  );
  background-image: linear-gradient(
    to bottom,
    #ff906a 0%,
    #eb4913 2px,
    #b12d00 92px,
    #b12d00 100%
  );
}

#phpbb .navbar {
  background-color: #ebd3cb;
}

#phpbb li.rightside {
  color: #404040;
}

#phpbb .panel {
  background-color: #f3eeed;
  color: #3f2e29;
}

#phpbb .bg1 {
  background-color: #f7f0ed;
}

#phpbb table.zebra-list tr:nth-child(odd) td,
#phpbb ul.zebra-list li:nth-child(odd) {
  background-color: #f7f0ed;
}

#phpbb .bg2 {
  background-color: #f2e6e2;
}

#phpbb table.zebra-list tr:nth-child(even) td,
#phpbb ul.zebra-list li:nth-child(even) {
  background-color: #f2e6e2;
}

#phpbb .bg3 {
  background-color: #ebd3cb;
}

#phpbb .ucprowbg {
  background-color: #e2dfdd;
}

#phpbb .fieldsbg {
  background-color: #eae8e8;
}

#phpbb table.table1 tbody tr {
  border-color: #cfc4c0;
}

#phpbb table.table1 tbody tr:hover,
#phpbb table.table1 tbody tr.hover {
  background-color: #f6dad0;
}

#phpbb table.table1 td {
  color: #825f54;
}

#phpbb dl.details dd {
  color: #825f54;
}

#phpbb .sep {
  color: #d94412;
}

#phpbb .icon.icon-blue,
#phpbb a:hover .icon.icon-blue {
  color: #b5411a;
}

#phpbb .jumpbox-cat-link {
  background-color: #b12d00;
  border-top-color: #b12d00;
}

#phpbb .jumpbox-cat-link:hover {
  background-color: #eb4913;
  border-top-color: #eb4913;
}

#phpbb .jumpbox-forum-link {
  background-color: #f2e6e2;
}

#phpbb .jumpbox-forum-link:hover {
  background-color: #f6dad1;
}

#phpbb .jumpbox .dropdown .pointer-inner {
  border-color: #f2e6e2 transparent;
}

#phpbb .jumpbox-sub-link {
  background-color: #f2e6e2;
}

#phpbb .jumpbox-sub-link:hover {
  background-color: #fff5f1;
}

#phpbb .copyright {
  color: #c8c8c8;
}

#phpbb ul.forums {
  background-color: #f9f1ef;
  background-image: -webkit-linear-gradient(top, #ebd9d3 0%, #f9f1ef 100%);
  background-image: linear-gradient(to bottom, #ebd9d3 0%, #f9f1ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBD9D3', endColorstr='#F9F1EF',GradientType=0 );
}

#phpbb ul.topiclist li {
  color: #77574d;
}

#phpbb li.row {
  border-bottom-color: #8f2400;
}

#phpbb li.row:hover {
  background-color: #f6dad1;
}

#phpbb .content h2,
#phpbb .panel h2 {
  color: #983312;
}

#phpbb blockquote {
  background-color: #ebe1de;
  border-color: #dbd2cf;
}

#phpbb blockquote blockquote {
  background-color: #efdfda;
}

#phpbb blockquote blockquote blockquote {
  background-color: #ebe1de;
}

#phpbb .codebox {
  border-color: #d8ceca;
}

#phpbb .codebox code {
  color: #696969;
}

#phpbb .attachbox {
  border-color: #d8ceca;
}

#phpbb .pm-message .attachbox {
  background-color: #f3f3f3;
}

#phpbb .attachbox dd {
  border-top-color: #d8ceca;
}

#phpbb dl.thumbnail dt a:hover img {
  border-color: #d25e37;
}

#phpbb .button:hover,
#phpbb .button:focus {
  border-color: #d03c0b;
}

#phpbb .button-secondary:focus,
#phpbb .button-secondary:hover,
#phpbb .button:focus .icon,
#phpbb .button:hover .icon {
  color: #d03c0b;
}

#phpbb .contact-icons a:hover {
  background-color: #f9f4f3;
}

#phpbb .pagination li a {
  background: #eeeded;
  border-color: #c0b8b5;
  color: #8c695d;
}

#phpbb .pagination li.active span {
  background: #bf6547;
  border-color: #bf6547;
}

#phpbb .pagination li a:hover,
#phpbb .pagination li a:hover .icon,
#phpbb .pagination .dropdown-visible a.dropdown-trigger,
#phpbb.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
  background: #d25e37;
  border-color: #d25e37;
}

#phpbb .search-header {
  box-shadow: 0 0 10px #b02c00;
}

#phpbb .panel-container h3,
#phpbb .panel-container hr,
#phpbb .cp-menu hr {
  border-color: #bfaba5;
}

#phpbb .panel-container .panel li.row {
  border-bottom-color: #cbbbb6;
}

#phpbb ul.cplist {
  border-top-color: #cbbbb6;
}

#phpbb .cp-main .pm-message {
  border-color: #e2dedc;
}

#phpbb .tabs .tab > a {
  background: #d9c3bb;
  color: #825f54;
}

#phpbb .tabs .tab > a:hover {
  background: #fbe5de;
}

#phpbb .tabs .activetab > a,
#phpbb .tabs .activetab > a:hover {
  background-color: #ebd3cb;
  background-image: -webkit-linear-gradient(top, #ffeae2 0%, #ebd3cb 100%);
  background-image: linear-gradient(to bottom, #ffeae2 0%, #ebd3cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEAE2', endColorstr='#EBD3CB', GradientType=0 );
  border-color: #ebd3cb;
  box-shadow: 0 1px 1px #fff6f2 inset;
}

#phpbb .minitabs .tab > a {
  background-color: #f2e6e2;
}

#phpbb .responsive-tab .responsive-tab-link:before {
  border-color: #825f54;
}

#phpbb .navigation a {
  background: #ebd3cb;
  background: -webkit-linear-gradient(left, #d1bcb5 50%, #ebd3cb 100%);
  background: linear-gradient(to right, #d1bcb5 50%, #ebd3cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1BCB5', endColorstr='#EBD3CB',GradientType=1 );
}

#phpbb .rtl .navigation a {
  background: #d1bcb5;
  background: -webkit-linear-gradient(left, #ebd3cb 50%, #d1bcb5 100%);
  background: linear-gradient(to right, #ebd3cb 50%, #d1bcb5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBD3CB', endColorstr='#D1BCB5',GradientType=1 );
}

#phpbb .navigation a:hover {
  background: #c6b2ab;
}

@media only screen and (max-width: 900px),
  only screen and (max-device-width: 900px) {
  #phpbb #navigation a,
  #phpbb.rtl #navigation a {
    background: #cfbab3;
  }
}

#phpbb .cp-mini {
  background-color: #f9f1ef;
}

#phpbb dl.mini dt {
  color: #674c43;
}

#phpbb label {
  color: #ae8e84;
}

#phpbb .message-box textarea.drag-n-drop-highlight {
  outline-color: rgba(234, 72, 18, 0.5);
}

#phpbb .inputbox {
  border-color: #c0b8b5;
}

#phpbb .inputbox:hover {
  border-color: #ea4812;
}

#phpbb .inputbox:focus {
  border-color: #ea4812;
}

#phpbb input.button1:focus,
#phpbb input.button2:focus,
#phpbb input.button3:focus {
  border-color: #ea4812;
  color: #872e10;
}

#phpbb .dropdown-extended ul li:hover {
  background-color: #f6dad0;
}

#phpbb .dropdown-extended .header {
  background-color: #fff5f1;
  background-image: -webkit-linear-gradient(top, #fff5f1 0%, #ebd3cb 100%);
  background-image: linear-gradient(to bottom, #fff5f1 0%, #ebd3cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF5F1', endColorstr='#EBD3CB', GradientType=0 );
}

#phpbb .dropdown-extended .pointer-inner {
  border-color: #fff5f1 transparent;
}

#phpbb .notification_list p.notification-time {
  color: #77574d;
}

#phpbb a.header-avatar span:after {
  color: #892f11;
}
